* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr) ;
    grid-template-rows: repeat(6, minmax(150px, auto));
    width: 75%;
    gap: 10px;
    margin: 0 auto;
    color: white;
    text-align: center;
}

.container div {
    background: cornflowerblue;
    padding: 30px;
}
.container div:nth-child(even){
    background: coral;
}
.one {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.two {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
}

.three {
    grid-column-start: ;
    grid-column-end: ;
    grid-row-start: ;
    grid-row-end: ;
}

.four {
    grid-column-start: ;
    grid-column-end: ;
    grid-row-start: ;
    grid-row-end: ;
}

.five {
    grid-column-start:5 ;
    grid-column-end:7 ;
    grid-row-start:5 ;
    grid-row-end:7 ;
}

.six {
    grid-column-start: ;
    grid-column-end: ;
    grid-row-start: ;
    grid-row-end: ;
}

.seven {
    grid-column-start: ;
    grid-column-end: ;
    grid-row-start: ;
    grid-row-end: ;
}

.eight {
    grid-column-start: ;
    grid-column-end: ;
    grid-row-start: ;
    grid-row-end: ;
}

.nine {
    grid-column-start: ;
    grid-column-end: ;
    grid-row-start: ;
    grid-row-end: ;
}